<!DOCTYPE html>
<!--suppress GrazieInspection, GrazieInspection -->
<html lang="{{ .CurrentLang }}">
<head>
    <meta charset="UTF-8">
    {{ if eq .Title "thread" }}
        <title>{{ .ThreadName }} | GoForum</title>
    {{ else }}
        <title>{{ .Title }} | GoForum</title>
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.ico" type="image/x-icon">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/scrollbar.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/loginPopUp.css" type="text/css">
    <link rel="stylesheet" href="/css/generalElementStyling.css" type="text/css">
    <link rel="stylesheet" href="/css/basicColor.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/vt323">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    {{ range $_, $style := .AdditionalStyles }}
        <link rel="stylesheet" href="{{ $style }}" type="text/css">
    {{ end }}

    <!-- scripts -->
    <script src="/js/scrollbar.js"></script>
    {{ if not .bareboneBase }}
        {{ if not .IsAuthenticated }}
            <script src="/js/loginPopupScript.js"></script>
        {{ else }}
            <script src="/js/userDropdownScript.js"></script>
        {{ end }}
    {{ end }}
    {{ range $_, $script := .AdditionalScripts }}
        <script src="{{ $script }}"></script>
    {{ end }}
</head>
<body class="{{ .CurrentTheme }}">
<div id="page-container" class="win95-border">
    <header>
    <section class="logo header-sections" onclick="window.location.href = '/'">
        <img id="logo-image" class="minimized-image unselectable" draggable="false" src="/img/forumIcon.png" alt="{{ .Lang.pages.base.header.logo_alt }}">
        <span id="logo-title">{{ .Lang.pages.base.header.website_name }}</span>
    </section>
    {{ if not .bareboneBase }}
        <nav class="options header-sections">
            {{ if .IsAuthenticated }}
                <button class="win95-menu-button" onclick="window.location.href = '/tnm'">{{ .Lang.pages.base.header.post_button }}</button>
            {{ else }}
                <button onclick="window.location.href = '/register'" class="win95-menu-button">{{ .Lang.pages.base.header.register_account_button }}</button>
                <button id="login-popup-opener" class="win95-menu-button">{{ .Lang.pages.base.header.login_button }}</button>
            {{ end }}
        </nav>
        <section class="search-box header-sections">
            <div id="search-container">
                <img id="search-icon unselectable" src="/img/search.svg" draggable="false" alt="search icon">
                <form class="search-form" method="Post">
                    <input class="search-input win95-input-indent" type="search" placeholder="{{ .Lang.pages.base.header.search_bar_placeholder }}">
                    <button class="search-button win95-button" type="submit">{{ .Lang.pages.base.header.search_button }}</button> <!--ICI-->
                </form>

            </div>
        </section>
        <nav class="options header-sections" id="right-nav">
            {{ if .IsAuthenticated }}
                <button id="user-profile-button" class="invisible">
                    <img id="user-profile-picture" class="minimized-image" draggable="false" src="/upload/{{ .UserPfpPath }}" alt="profile picture">
                </button>
            {{ end }}
        </nav>
    {{ end }}

    </header>
    {{ if not .bareboneBase }}
        {{ if .IsAuthenticated }}
            <section id="user-dropdown" class="win95-border">
                <form name="logoutForm" method="POST" class="hidden" action="/">
                    <input type="hidden" name="headerForm" value="logout">
                </form>
                <ul>
                    <li onclick="document.location.href='/profile'" class="win95-menu-button"><img class="win95-minor-logo unselectable" draggable="false" src="/img/profileIcon.png">{{ .Lang.pages.base.header.profile_button }}</li>
                    <li onclick="document.location.href='/settings'" class="win95-menu-button"><img class="win95-minor-logo unselectable" draggable="false" src="/img/settingsIcon.png">{{ .Lang.pages.base.header.settings_button }}</li>
                    <li onclick="document.logoutForm.submit()" class="win95-menu-button"><img class="win95-minor-logo unselectable" draggable="false" src="/img/logOutIcon.png">{{ .Lang.pages.base.header.logout_button }}</li>
                </ul>
            </section>
        {{ else }}
            <div id="login-popup" {{ if not .ShowLoginPage }}class="hidden"{{ end }}>
                <div id="login-popup-background"></div>
                <div id="login-popup-box" class="win95-border">
                    <div id="login-popup-close-button-wrapper" class="win95-header">
                        <h1 id="login-popup-title">{{ .Lang.pages.base.connection_popup.title }}</h1>
                        <div id="login-popup-close-button"  class="win95-button-space"><button class="win95-button">X</button></div>
                    </div>
                    <section class="login-popup-section win95-border-indent">
                        <form id="login-popup-form" method="Post">
                            {{ if .ShowLoginMessage }}
                                <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable"> {{ .LoginPageMessage }}</p>
                            {{ end }}
                            {{ if eq .LoginError "serverError"}}
                                <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable"> {{ .Lang.pages.base.connection_popup.login_server_error }}</p>
                            {{ else if eq .LoginError "invalidCredentials"}}
                                <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_invalid_credentials }}</p>
                            {{ else if eq .LoginError "missingFields"}}
                                <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_missing_fields }}</p>
                            {{ else if eq .LoginError "userIsOAuth"}}
                                {{ if eq .OAuthProvider "google" }}
                                    <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_account_is_google }}</p>
                                {{ else if eq .OAuthProvider "github" }}
                                    <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_account_is_github }}</p>
                                {{ else if eq .OAuthProvider "discord" }}
                                    <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_account_is_discord }}</p>
                                {{ end }}
                            {{ end }}
                            <input type="hidden" class="win95-input-indent" name="headerForm" value="login">
                            {{ range .LoginMissingField }}
                                {{ if eq . "email" }}
                                    <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_missing_fields }}"</p>
                                {{ end }}
                            {{ end }}
                            <label for="login-popup-mail-or-username">{{ .Lang.pages.base.connection_popup.email_field_label }}</label>
                            <input id="login-popup-mail-or-username" type="text"  class="win95-input-indent" name="email_or_username" required>
                            {{ range .LoginMissingField }}
                                {{ if eq . "password" }}
                                    <p class="error-message win95-border-outdent"> <img src="/img/warningIcon.png" draggable="false" class="unselectable">{{ .Lang.pages.base.connection_popup.login_missing_field_password }}</p>
                                {{ end }}
                            {{ end }}
                            <label for="login-popup-password">{{ .Lang.pages.base.connection_popup.password_field_label }}</label>
                            <input id="login-popup-password" type="password" class="win95-input-indent" name="password" required>
                            <p id="login-popup-forgot-password"><a href="/reset-password">{{ .Lang.pages.base.connection_popup.forgot_password_button }}</a></p>
                            <label for="login-popup-remember-me" id="login-popup-remember-me-label">
                                <span>{{ .Lang.pages.base.connection_popup.remember_me_checkbox }} </span>
                                <input type="checkbox" name="remember-me" id="login-popup-remember-me" class="win95-checkbox">
                            </label>
                            <button type="submit" class="win95-button">{{ .Lang.pages.base.connection_popup.login_button }}</button>
                        </form>
                    </section>

                    <div id="login-popup-or">
                        <p id="ou">{{ .Lang.pages.base.connection_popup.separator_or }}</p>
                    </div>

                    <section class="login-popup-section win95-border-indent">
                        <p>{{ .Lang.pages.base.connection_popup.login_with }}</p>
                        <div id="login-popup-connect-with">
                            <button onclick="document.location.href = '/auth/google'" class="win95-button">
                                <img src="/img/googleIconMini.png" alt="google icon" draggable="false" class="unselectable">
                                <span>Google</span>
                            </button>
                            <button onclick="document.location.href = '/auth/discord'" class="win95-button">
                                <img src="/img/discordIconMini.png" alt="discord icon" draggable="false" class="unselectable">
                                <span>Discord</span>
                            </button>
                        </div>
                    </section>
                    <p>{{ .Lang.pages.base.connection_popup.register_instead }}&nbsp;<a href="/register"> {{ .Lang.pages.base.connection_popup.register_instead_button }}</a></p>
                </div>
            </div>
        {{ end }}
    {{ end }}
    <main class="win95-border-indent win95-input-indent scroll-container">
        <div id="main-container" class="main-content scroll-content">
            {{ template "content" . }}
        </div>
        <div class="custom-scrollbar">
            <div class="scrollbar-arrow up">&#9650;</div>
            <div class="scrollbar-thumb"></div>
            <div class="scrollbar-arrow down">&#9660;</div>
        </div>
    </main>
</div>

</body>
</html>