{{ define "content" }}

<div class="comment-box">
    <section class="comment-header comment-section">
        <div class="comment-profile">
            <img class="comment-profile-picture" src="https://i.pinimg.com/736x/58/7b/57/587b57f888b1cdcc0e895cbdcfde1c1e.jpg">
            <span class="comment-profile-username">Username</span>
        </div>
        <button class="comment-option" type="button">...</button>
    </section>
    <section class="comment-content comment-section">
        <p class="comment-comment">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus eros nunc, suscipit placerat nisi pulvinar ac. Quisque et pretium lectus. Vestibulum iaculis eleifend egestas. Donec et nunc eget lorem dignissim blandit in id ipsum. Nunc tempus tellus quis suscipit consequat. Sed ipsum quam, scelerisque et dignissim non, efficitur at arcu. Fusce rutrum mi erat, non ullamcorper erat ultrices ac. Vivamus accumsan sapien vel justo iaculis interdum. Nunc feugiat est at leo luctus, sit amet vulputate nibh porttitor. Pellentesque purus turpis, porta vitae dapibus vitae, hendrerit a elit. Morbi a congue sapien. Sed placerat est nec erat dignissim, sed pulvinar leo bibendum.

            Pellentesque vehicula ligula nibh, nec bibendum turpis hendrerit ut. Nunc dignissim tempus viverra. Sed ultricies, est vel luctus vulputate, lorem nunc tincidunt erat, eget mollis sem magna a tortor. Etiam non augue lectus. Sed in odio sagittis, egestas ante ac, gravida eros. Aliquam erat volutpat. Pellentesque sit amet cursus orci, condimentum dapibus ex. Mauris id odio vel nunc venenatis venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed in ligula sit amet odio tempus congue nec pulvinar quam. Pellentesque non condimentum nibh, eu suscipit nibh. Nulla consectetur nisl sit amet tincidunt ultricies. Duis maximus ex lobortis metus bibendum pulvinar.

            Aenean at dui volutpat, euismod eros maximus, viverra turpis. Quisque sed ipsum arcu. Aliquam ipsum magna, mollis vel enim vel, euismod consectetur orci. Phasellus a erat nibh. Donec sagittis magna eu varius condimentum. Aliquam molestie quis augue at viverra. Phasellus egestas, urna sed euismod pellentesque, massa velit gravida ligula, dictum consequat arcu sapien in erat.

            Donec magna erat, pellentesque eget sapien a, bibendum iaculis libero. Phasellus sit amet ultricies diam, et tincidunt dolor. Sed in tellus ultrices, elementum dolor ac, lobortis eros. Etiam in erat efficitur, convallis massa ac, molestie quam. Donec eu varius diam. Nunc eu ullamcorper augue. Ut malesuada turpis quis ipsum eleifend ultricies. In tincidunt aliquet eros pharetra blandit.

            Aenean eget nulla ipsum. Proin pellentesque vestibulum porttitor. Donec ut feugiat arcu. Donec porta sem ut convallis sagittis. In nulla justo, rhoncus in magna in, gravida maximus lectus. Etiam eu lectus venenatis, interdum felis eget, viverra quam. Curabitur id erat quam. Curabitur ornare massa at pellentesque sodales. Curabitur sed dolor nec urna vestibulum tristique a vitae eros.
        </p>
    </section>
    <section class="comment-action comment-section">
        <div class="comment-vote">
            <button class="comment-upvote">
                ↑
            </button>
            <span>78541455259856594</span>
            <button class="comment-downvote">
                ↓
            </button>
        </div>
        <button class="comment-downvote">
            Reply
        </button>
        <button class="comment-downvote">
            Copy link
        </button>
    </section>
</div>

{{ end }}