{{ define "content" }}
    <div id="home-wrapper">
        <p>{{ .Lang.pages.home.test }}</p>
        <p><a href="/auth/google">Google</a></p>
        <p><a href="/auth/github">Github</a></p>
        <p><a href="/auth/discord">Discord</a></p>
        <p><a href="/auth/twitter">Twitter</a></p>
        <p><a href="/auth/twitch">Twitch</a></p>
    </div>

    <div>
        <p>Thread list :</p>
        <ul>
            {{ range .AllThreads }}
                <li><a href="/thread/{{ .ThreadName }}">{{ .ThreadName }}</a></li>
            {{ end }}
        </ul>
    </div>
{{ end }}