{{ define "content" }}
    <div id="thread-menu" class="win95-border">
        <p class="win95-header">Thread list :</p>
        <ul id="thread-list" class="win95-border-indent">
            {{ range .AllThreads }}
                <li class="win95-menu-box thread-list-element">
                    <!--TODO Connect the database to get the thread's icon -->
                    <img class="thread-menu-icon unselectable" draggable="false" src="/upload/{{ .ThreadIconLink }}" alt="Thread Icon">
                    <a class="thread-link win95-menu-button" href="/t/{{ .ThreadName }}">{{ .ThreadName }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}