{{ define "login" }}

<div id="auth-login" class="auth-container">
    <h1>Login</h1>
    <form id="login-form" class="auth-form" method="POST" action="">
        <div class="form-group">
            <label class="auth-label" for="login-email">Email:</label>
            <input class="auth-input" type="text" id="login-email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label class="auth-label" for="login-password">Password:</label>
            <input class="auth-input" type="password" id="login-password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group-checkbox">
            <input type="checkbox" id="remember-me" name="remember">
            <label class="auth-label-checkbox" for="remember-me">Remember Me</label>
        </div>
        <button type="submit" class="auth-button">Login</button>
    </form>
    <a href="/forgot-password">Forgot Password?</a>
    <p class="register-redirect">Don't have an Account yet? <a href="#">Register</a></p>
</div>

{{ end }}