{{ define "post" }}

<div class="post-box">
    <section class="post-header post-section">
        <div class="post-profile">
            <img class="post-profile-picture unselectable" draggable="false" src="https://i.pinimg.com/736x/58/7b/57/587b57f888b1cdcc0e895cbdcfde1c1e.jpg"> <!-- placeholder -->
            <span class="post-profile-username">Username</span> <!-- placeholder -->
        </div>
        <button class="post-option" type="button">...</button>
    </section>
    <section class="post-content post-section">
        <img class="post-picture unselectable" draggable="false" src="https://media.makeameme.org/created/best-placeholder-ever.jpg"> <!-- placeholder -->
    </section>
    <section class="post-action post-section">
        <div class="post-vote">
            <button class="upvote">
                <img class="unselectable" draggable="false" src="../statics/img/upvote.png" alt="upvote">
            </button>
            <span class="vote-number">78541455259856594</span> <!-- placeholder -->
            <button class="downvote">
                <img class="unselectable" draggable="false" src="../statics/img/downvote.png" alt="downvote">
            </button>
        </div>
    </section>
</div>

{{ end }}