{{ define "content" }}
<div id="reset-password-container" class="win95-border">
    {{ if .ComingFromMail }}
            <div class="win95-header">
                <p>Please enter your new password !</p>
            </div>
            <div class="reset-password-content win95-border-indent">
            <form action="/reset-password" method="post">
                <input type="hidden" name="formType" value="submitPassword">
                <input type="hidden" name="token" value="{{ .MailToken }}">
                {{ if eq .Error "invalidToken" }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">The link you used is either incorrect or expired !</p>
                {{ end }}
                {{ if eq .Error "emptyFields" }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">Some fields were left empty</p>
                {{ end }}
                {{ if eq .Error "passwordsMismatch" }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">Passwords do not match</p>
                {{ end }}
                {{ if eq .Error "passwordIncorrect" }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">Password is too short</p>
                {{ end }}
                <label>
                    <input class= "win95-input-indent" type="password" id="change_password_password" required name="password" placeholder="Enter your new password here">
                </label>
                <label>
                    <input class= "win95-input-indent" type="password" id="change_password_confirm_password" required name="passwordConfirm" placeholder="Confirm your new password here">
                </label>
                <button class="win95-button" type="submit" id="change_password_button">Change password</button>
                {{ if .Success }}
                    <p>Password was changed !</p>
                    <p>You will be redirected to the home page in <span id="redirect_msg">3</span></p>
                    <script>
                        document.getElementById("change_password_password").disabled = true;
                        document.getElementById("change_password_confirm_password").disabled = true;
                        document.getElementById("change_password_button").disabled = true;
                        setTimeout(() => {
                            document.getElementById("redirect_msg").innerText = "2";
                        }, 1000);
                        setTimeout(() => {
                            document.getElementById("redirect_msg").innerText = "1";
                        }, 2000);
                        setTimeout(() => {
                            window.location.href = "/";
                        }, 3000);
                    </script>
                {{ end }}
            </form>
        {{ else }}
                <div class="win95-header"><p>You wish to reset your password ? Please provide the email attached to your account here !</p>
                </div>
                <div class="reset-password-content win95-border-indent">
                    <form action="/reset-password" method="post">
                        <input type="hidden" name="formType" value="submitMail">
                        <label>
                            <input class= "win95-input-indent" type="email" required name="email" placeholder="Enter your email here">
                        </label>
                        <button class="win95-button" type="submit">Send me a reset link</button>
                    </form>
                {{ if eq .Error "invalidToken" }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">The link you used is either incorrect or expired !</p>
                {{ end }}
                {{ if eq .Error "noMailProvided" }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">No email were provided, stop messing with the html page !!!</p>
                {{ end }}
                {{ if eq .Error "linkedToOAuth" }}
                    {{ if eq .Provider "google" }}
                        <p>It seems that your account is linked to a Google account</p>
                    {{ end }}
                    {{ if eq .Provider "github" }}
                        <p>It seems that your account is linked to a GitHub account</p>
                    {{ end }}
                    {{ if eq .Provider "discord" }}
                        <p>It seems that your account is linked to a Discord account</p>
                    {{ end }}
                    <p class="error-missing-field error-message win95-border-outdent"><img class="win95-minor-logo" src="/img/warningIcon.png">You cannot reset the password of an account registered with another website</p>
                {{ end }}

                {{ if .Success }}
                    <p>Email was sent !</p>
                {{ end }}
                    </div>
            </div>
        </div>
    {{ end }}
{{ end }}