{{ define "content" }}

<p>You wish to reset your password ? Please provide the email attached to your account here !</p>
{{ if eq .Error "noMailProvided" }}
    <p>No email were provided, stop messing with the html page !!!</p>
{{ end }}
{{ if eq .Error "linkedToOAuth" }}
    {{ if eq .Provider "google" }}
        <p>It seems that your account is linked to a Google account</p>
    {{ end }}
    {{ if eq .Provider "github" }}
        <p>It seems that your account is linked to a GitHub account</p>
    {{ end }}
    {{ if eq .Provider "discord" }}
        <p>It seems that your account is linked to a Discord account</p>
    {{ end }}
    <p>You cannot reset the password of an account registered with another website</p>
{{ end }}
<form action="/reset-password" method="post">
    <label>
        <input type="email" required name="email" placeholder="Enter your email here">
    </label>
    <button type="submit">Send me a reset link</button>
</form>
{{ if .Success }}
    <p>Email was sent !</p>
{{ end }}

{{ end }}