{{ define "content" }}
<div id="thread">
    <div id="thread-container" class="win95-border">
        <div id="thread-header" class="win95-header">
            <div class="thread-title">
                {{if eq .ThreadIcon "default"}}
                    <img class="thread-icon" src="/img/default_thread_icon.png" alt="Thread Icon">
                {{ else }}
                    <img class="thread-icon" src="{{ .ThreadIcon }}" alt="Thread Icon">
                {{ end }}
                <h1>{{ .ThreadInfos.ThreadName }}</h1>
            </div>
        </div>
        <div id="thread-info" class="win95-description">
            <div class="thread-banner-container">
                {{if eq .ThreadBanner "default"}}
                    <img class="thread-banner" src="/img/default_thread_banner.gif" alt="Thread Banner">
                {{ else }}
                    <img class="thread-banner" src="{{ .ThreadBanner }}" alt="Thread Banner">
                {{ end }}
            </div>
            <div id="thread-description" class="win95-border-indent">
                <p>{{ .ThreadComplementaryInfos.ThreadDescription }}</p>
                <div id="thread-description-join">
                    {{ if not .ShowLoginPage }}
                    {{ if .MustJoinThread }}
                    {{ if eq .IsAuthenticated false }}
                    <p class="grid-align-right win95-border-bulge">{{ .Lang.pages.thread.must_login_to_join_message}}</p>
                    {{ else }}
                    <div id="join-button" class="grid-align-right">
                        <button id="LeaveThreadButton" class="win95-button hidden">Leave</button>
                        <button id="JoinThreadButton" class="win95-button">Join</button>
                    </div>
                    {{ end }}
                    {{ else }}
                    {{ if .IsAMember }}
                    <div id="join-button" class="grid-align-right">
                        <button id="LeaveThreadButton" class="win95-button">Leave</button>
                        <button id="JoinThreadButton" class="win95-button hidden">Join</button>
                    </div>
                    {{ else }}
                    <div id="join-button" class="grid-align-right">
                        <button id="LeaveThreadButton" class="win95-button hidden">Leave</button>
                        <button id="JoinThreadButton" class="win95-button">Join</button>
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    <div id="order-container" class="grid-align-right">
                        <label for="order">{{ .Lang.pages.thread.order_label }}</label>
                        <select id="order" class="win95-input-indent">
                            {{ range $order := .MessageOrdering }}
                            <option value="{{ $order }}">{{ $order }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="thread-content" class="win95-border-indent">
            {{ if .ShowLoginPage }}
                <p>{{ .Lang.pages.thread.must_connect_message }}</p>
            {{ else }}
                {{ if .MustJoinThread }}
                    <p>{{ .Lang.pages.thread.must_join_thread_message }}</p>
                {{ end }}
            {{ end }}
        </div>
        <div id="example-message-container" class="hidden">
            <div class="message">
                <img src="/img/default_user_icon.png" alt="User Icon">
            </div>
        </div>
        <div id="messages-container">
        </div>
    </div>
    <div id="thread-sidebar" class=win95-border>
        <section class="thread-sidebar-section win95-border-indent">
            {{ range $modTeamMember := .ThreadModerationTeam }}
                <div class="thread-moderation-team-member win95-border-bulge">
                    <img class="moderation-icon" src="{{ $modTeamMember.PfpAddress }}" alt="User Icon">
                    <div class="thread-sidebar-team-member-name">
                        <h4>{{ $modTeamMember.Username }}</h4>
                        <p class="moderation-title">
                            {{ if eq $modTeamMember.RightsLevel 1 }}
                                {{ $.Lang.pages.thread.rank.moderator }}
                            {{ end }}
                            {{ if eq $modTeamMember.RightsLevel 2 }}
                                {{ $.Lang.pages.thread.rank.administrator }}
                            {{ end }}
                            {{ if eq $modTeamMember.RightsLevel 3 }}
                                {{ $.Lang.pages.thread.rank.owner }}
                            {{ end }}
                        </p>
                    </div>
                </div>
            {{ end }}
        </section>
        <section class="thread-sidebar-section win95-border-indent">
            Tags
        </section>
    </div>
</div>

{{ end }}
