{{ define "content" }}
<div id="thread-reports-container" class="win95-border">
    <section class="win95-header">
        <h1>{{ .Lang.pages.thread_reports.report_title }}</h1>
    </section>

    <div class="thread-reports win95-border-indent">
        {{ range .Reports }}
            <div class="thread-report win95-border" id="report-{{ .ReportID }}">
                <div class="win95-header report-header">
                    <div class="thread-report-header-content">
                        <p>
                            <strong>{{ $.Lang.pages.thread_reports.reported_by }}</strong><a class="thread-report-link" href="/profile/{{ .UserName }}">{{ .UserName }}</a>
                        </p>
                        <p>
                            <strong>{{ $.Lang.pages.thread_reports.report_id }}</strong>{{ .ReportID }}
                        </p>
                    </div>
                </div>
                <div class="win95-border-indent thread-report-content">
                    <div class="report-section">
                        <p>
                            <strong>{{ $.Lang.pages.thread_reports.report_type }}</strong>
                            {{ .ReportType }}
                        </p>
                    </div>
                    <div class="report-section">
                        <p>
                            <strong>{{ $.Lang.pages.thread_reports.report_content_type }}</strong>
                            {{ if eq .IsAPostAndNotAComment true }}{{ $.Lang.pages.thread_reports.post }}{{ else }}{{ $.Lang.pages.thread_reports.comment }}{{ end }}
                        </p>
                    </div>
                    <div class="report-section">
                        <p>
                            <strong>{{ $.Lang.pages.thread_reports.reported_content }}</strong>
                            <a href="/t/{{ $.ThreadName }}/p/{{ .PostID }}">{{ $.Lang.pages.thread_reports.link }}</a>
                        </p>
                    </div>
                    <div class="report-section">
                        <p>
                            <strong>{{ $.Lang.pages.thread_reports.report_description }}</strong>
                            {{ .ReportContent }}
                        </p>
                    </div>
                </div>
                <button id="resolveReportButton" class="win95-button resolve-report" onclick="ResolveReport('{{ $.ThreadName }}', '{{ .ReportID }}')">
                    {{ $.Lang.pages.thread_reports.resolve_report }}
                </button>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}