{{ define "content" }}
<div id="thread">
    <div id="thread-container" class="win95-border">
        <div id="thread-header" class="win95-header">
            <div class="thread-title">
                {{if eq .ThreadIcon "default"}}
                    <img class="thread-icon" src="/img/default_thread_icon.png" alt="Thread Icon">
                {{ else }}
                    <img class="thread-icon" src="{{ .ThreadIcon }}" alt="Thread Icon">
                {{ end }}
                <h1>{{ .ThreadInfos.ThreadName }}</h1>
            </div>
        </div>
        <div id="thread-info" class="win95-description">
            <div class="thread-banner-container">
                {{if eq .ThreadBanner "default"}}
                    <img class="thread-banner" src="/img/default_thread_banner.gif" alt="Thread Banner">
                {{ else }}
                    <img class="thread-banner" src="{{ .ThreadBanner }}" alt="Thread Banner">
                {{ end }}
            </div>
            <p>{{ .ThreadComplementaryInfos.ThreadDescription }}</p>
        </div>

        <div id="thread-content" class="win95-border-indent">
            {{ if .ShowLoginPage }}
                <p>You must be connected to see this page</p>
            {{ else }}
                {{ if .MustJoinThread }}
                    <p>You must be a member to see this page</p>
                {{ if eq .IsAuthenticated false }}
                    <p>To join the thread, you must register/login</p>
                {{ else }}
                    <button id="LeaveThreadButton" class="win95-button hidden">Leave</button>
                    <button id="JoinThreadButton" class="win95-button">Join</button>
                {{ end }}
            {{ else }}
                <p>The content should be here</p>
                    {{ if .IsAMember }}
                        <button id="LeaveThreadButton" class="win95-button">Leave</button>
                        <button id="JoinThreadButton" class="win95-button hidden">Join</button>
                    {{ else }}
                        <button id="LeaveThreadButton" class="win95-button hidden">Leave</button>
                        <button id="JoinThreadButton" class="win95-button">Join</button>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
        <div id="example-message-container" class="hidden">
            <div class="message">
                <img src="/img/default_user_icon.png" alt="User Icon">
            </div>
        </div>
        <div id="messages-container">
        </div>
    </div>
    <div id="thread-sidebar" class=win95-border>
        <section class="thread-sidebar-section win95-border-indent">
            {{ range $modTeamMember := .ThreadModerationTeam }}
            <div class="thread-moderation-team-member win95-border-bulge">
                <img class="moderation-icon" src="{{ $modTeamMember.PfpAddress }}" alt="User Icon">
                <div class="thread-sidebar-team-member-name">
                    <h4>{{ $modTeamMember.Username }}</h4>
                    <p class="moderation-title">
                        {{ if eq $modTeamMember.RightsLevel 1 }}
                        Moderator
                        {{ end }}
                        {{ if eq $modTeamMember.RightsLevel 2 }}
                        Administrator
                        {{ end }}
                        {{ if eq $modTeamMember.RightsLevel 3 }}
                        Owner
                        {{ end }}
                    </p>
                </div>

            </div>
            {{ end }}
        </section>
        <section class="thread-sidebar-section win95-border-indent">
            Tags
        </section>
    </div>
</div>

{{ end }}
