{{ define "content" }}
<div id="datas" class="hidden">
    <div id="data_postID">{{ .Post.MessageID }}</div>
    <div id="data_postTitle">{{ .Post.MessageTitle }}</div>
    <div id="data_postContent">{{ .Post.MessageContent }}</div>
    <div id="data_wasEdited">{{ .Post.WasEdited }}</div>
    <div id="data_postDate">{{ .Post.CreationDate }}</div>
    <div id="data_authorName">{{ .Post.UserName }}</div>
    <div id="data_authorPfpAddress">{{ .Post.UserPfpAddress }}</div>
    <div id="data_upvotes">{{ .Post.Upvotes }}</div>
    <div id="data_downvotes">{{ .Post.Downvotes }}</div>
    <div id="isAuthenticated" class="hidden">{{ .IsAuthenticated }}</div>
    <div id="data_MediaLinks">
        {{ range $i := .Post.MediaLinks }}
            <div>{{ $i }}</div>
        {{ end }}
    </div>
    <div id="data_PostTags">
        {{ range $i := .Post.MessageTags }}
            <div>{{ $i }}</div>
        {{ end }}
    </div>
    <div id="data_postVoteState">{{ .Post.VoteState }}</div>
</div>

<div id="t-post">
    <div id="t-post-container" class="win95-border">
        <div id="t-post-header" class="win95-header">
            <div class="post-profile">
                <img src="/upload/{{ .Post.UserPfpAddress }}" alt="Author profile picture" class="post-profile-picture unselectable" draggable="false">
                <span>{{ .Post.UserName }}</span>
            </div>
            <div class="t-post-menu-wrapper">
                <button id="t-post-menu" type="button" class="win95-button">...</button>
                <div id="t-option-menu" class="option-menu win95-border"></div>
            </div>
            <span class="post-title">{{ .Post.MessageTitle }}</span>
        </div>
        <div id="t-post-content">

        </div>
        <div id="t-post-comment-section" class="win95-border-indent">
            <div id="comments-container">

            </div>
            <button id="load-more-comments-button" class="win95-button" type="button">
                Load More Comments
            </button>
        </div>
    </div>
</div>
{{ end }}