{{ define "content" }}
    <p>Welcome to the user settings page !</p>
    <div id="current-settings">
        <p> User lang :<span>
            {{ range $key, $value := .Lang.langs }}
                {{ if eq (interfaceToString $key) $.UserLang }}
                    {{ $value }}
                {{ end }}
            {{ end }}
        </span></p>
        <p> User theme :<span>
            {{ range $key, $value := .Lang.themes }}
                {{ if eq (interfaceToString $key) $.UserTheme }}
                    {{ $value }}
                {{ end }}
            {{ end }}
        </span></p>
        <button id="change-settings-button">Change settings</button>
    </div>
    <div id="change-settings" class="hidden">
        <form action="/settings" method="post">
            <label for="lang">Choose a language:</label>
            <select name="lang" id="lang">
                <option value="{{ .UserLang }}">
                    {{ range $key, $value := .Lang.langs }}
                        {{ if eq (interfaceToString $key) $.UserLang }}
                            {{ $value }}
                        {{ end }}
                    {{ end }}
                </option>
                {{ range $lang := .LangList }}
                    {{ if ne $lang $.UserLang }}
                    <option value="{{ $lang }}">
                        {{ range $key, $value := $.Lang.langs }}
                            {{ if eq (interfaceToString $key) $lang }}
                                {{ $value }}
                            {{ end }}
                        {{ end }}
                    </option>
                    {{ end }}
                {{ end }}
            </select>
            <br>
            <label for="theme">Choose a theme:</label>
            <select name="theme" id="theme">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
            <input type="submit" value="Submit">

        </form>
        <button id="close-change-settings-button">Close</button>
    </div>
{{ end }}