{{ define "content" }}
    <div id="profile-container" class="win95-border">
        <div class="win95-header">
            <p>Welcome to your profile page !</p>
        </div>
        
        <!-- ============================== BIG USER'S PFP ========================== -->

        <div id="pfp-big-container">
                <p>Profile picture</p>
                <div id="pfp-container">
                    <div>
                        <img id="pfp" class="unselectable" draggable="false" src="/upload/{{ .UserPfpPath }}" alt="profile picture">
                    </div>
                </div> 
        </div>

        <!-- ================================== User's INFO LIST ======================== -->
        <div id="content" class="win95-border-indent">
            <div class="field">
                <p> Public Username is : {{ .myUserUsername }}</p>
            </div>

            <div class="field">
                <p> Private First name and Last name are : {{ .myUserFirstname }}, {{ .myUserLastname }}</p>
            </div>

            <div class="field">
                <p> Public language is :
                    {{ range $key, $value := .Lang.langs }}
                        {{ if eq (interfaceToString $key) $.myUserLang }}
                            {{ $value }}
                        {{ end }}
                    {{ end }}
                </p>
            </div>

            <div class="field">
                <p> Account created the : {{ .myUserCreatedAt }}</p>
            </div>

            <p> User Thread list :
                {{ range .myUserThreads }}
                    <div class="win95-border"><a href="/t/{{ .ThreadName }}" style="color: rgb(0, 0, 255);">{{ .ThreadName }}</a></div>
                {{ end }}
                <br>
            </p>
        </div>
    </div>
{{ end }}