{{ define "content" }}
    <div id="profile-container" class="win95-border">
        <div class="win95-header">
            <p>{{ .Lang.pages.profile.top_message }}<span>{{ .myUserUsername }}</span>{{ .Lang.pages.profile.top_message2 }}</p>
        </div>
        
        <!-- ============================== BIG USER'S PFP ========================== -->

        <div id="pfp-big-container">
                <p>{{ .Lang.pages.profile.pfp_message }}</p>
                <div id="pfp-container">
                    <div>
                        <img id="pfp" class="unselectable" draggable="false" src="/upload/{{ .myUserPfpAddress }}" alt="profile picture">
                    </div>
                </div> 
        </div>

        <!-- ================================== User's INFO LIST ======================== -->
        <div id="content" class="win95-border-indent">
            <div class="field">
                <p> User's name is : {{ .myUserUsername }}</p>
            </div>

            <div class="field">
                <p> User's language is :
                    {{ range $key, $value := .Lang.langs }}
                        {{ if eq (interfaceToString $key) $.myUserLang }}
                            {{ $value }}
                        {{ end }}
                    {{ end }}
                </p>
            </div>

            <div class="field">
                <p> User's account created the : {{ .myUserCreatedAt }}</p>
            </div>

            <p> User's thread list :
                {{ range .myUserThreads }}
                    <div class="win95-border"><a href="/t/{{ .ThreadName }}" style="color: rgb(0, 0, 255);">{{ .ThreadName }}</a></div>
                {{ end }}
                <br>
            </p>
        </div>
    </div>
{{ end }}