<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset your password</title>
    <style>
        body {
            background: #1d364e;
            color: #efefef;
        }
    </style>
</head>
<body>
    <h1>Reset your password</h1>
    <p>Click on the following link to reset your password:</p>
    <a href="{{ .Url }}">{{ .UrlSimplified }}</a>
    <p>If you didn't ask to reset your password, you can ignore this email.</p>
    <p>Thanks</p>
    <p>The GoForum team</p>
</body>
</html>