:root {
    --almostWhite: #efefef;
    --veryLightBlue: #baebfd;
    --searchBackground: #2a7093;
    --searchButtonBackground: #1d364e;
    --headerBackground: #150000;

    --loginBackground: #c0c0c0;
}