.page-error-container {
    width: 512px;
    display: grid;
    grid-template-columns: 256px auto;
    padding: 8px;
}

.page-error-img {
    width: 256px;
    height: 256px;
}

.page-error-status {
    font-size: 96px;
}

.page-error-message {
    font-size: 32px;
}

.page-error-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}