#thread-menu {
    background-color: silver;
    position: absolute;
    width: calc(100% - 16px);
}

#thread-list {
    list-style-type: none;
    padding: 0;
}

.thread-link {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    align-self: center;
    margin-left: 8px;
}

.thread-link:visited {
    color: #000;
}

.thread-link:active {
    border-top-color: #404040;
    border-left-color: #404040;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    box-shadow: inset 1px 1px 0 0 #808080;
}

.thread-list-element {
    width: 100%;
    padding: 4px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.thread-list-element:hover {
    background-color: white;
}

.thread-menu-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px 0;
}

#home-wrapper {
    position: absolute;
    left: 20px;
}