.post-box {
    position: relative;
    background-color: silver;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 8px;
    padding: 8px;
}

.post-box * {
    width: 100%;
}

.post-header {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
}

.post-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.post-vote {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.post-header {
    padding: 4px;
}

.post-profile {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.post-profile-picture {
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}

.post-content{
    position: relative;
    display: flex;
    align-items: center;
}

.post-picture {
    height: 500px;
    width: auto;
    overflow: hidden;
    display: none;
}

.post-title{
    grid-row: 2;
    grid-column: 1/-1;
    font-size: 32px;
}

.post-vote-field{
    display: grid;
    grid-template-columns: 46px min(5ch) 46px;
    gap: 8px;
    width: auto;
}

.post-vote-image{
    position: relative;
    height: 32px;
    width: 32px;
}

.post-vote-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-vote-value{
    font-size: 32px;
    text-align: center;
}

.post-media-container{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.post-medias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    overflow: hidden;
}

.prev-button,
.next-button {
    position: absolute;
    cursor: url('../img/pointer95.cur'), pointer;
    width: auto;
    transform: translateY(-50%);
    top: 50%;
}
.prev-button { left: 8px; }
.next-button { right: 8px; }

/* dots */
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}
.dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    cursor: url('../img/pointer95.cur'), pointer;
}
.dot.active { background: #717171; }

.prev-img, .next-img{
    width: 32px;
}