#reset-password-container {
    background-color: silver;
    position: absolute;
    width: calc(100% - 16%);
}

.reset-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}