#thread {
    width: 90%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    position: absolute;
    gap: 8px;
}

#thread-container{
    width: 100%;
    background-color: silver;
    position: relative;
    grid-column: 1/2;
}

#thread-sidebar{
    width: 100%;
    position: relative;
    height: 100%;
    grid-column: 2/3;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 2px;
}

.thread-banner-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thread-banner {
    width: 100%;
}

.thread-icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 4px;
}

.thread-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#thread-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.thread-sidebar-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.moderation-icon{
    height: 96px;
    width: 96px;
    border-radius: 50%;
}

.thread-moderation-team-member{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 4px;
    gap: 8px;
    width: 100%;
}

.thread-sidebar-team-member-name{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moderation-title{
    font-size: 24px;
}

#thread-description{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#thread-description-join{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid-align-right{
    justify-self: right;
}

#order-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 4px;
}