#settings-container {
    position: absolute;
    width: calc(100% - 16px);
    background-color: silver;
}

#settings-content {
    display: flex;
    align-items: center;
}

.settings-field {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    gap: 8px;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
}

#change-settings {
    position: relative;
}